@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

:root {
    --preto: #000;
    --cinza: #262525;
    --azul: #0772b2;
    --verde: #06f363;
    --branco: #ffffff;
}

body{
    background-color: rgb(19, 18, 18);
    color: var(--branco);
}
a{
    color: var(--branco);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.main{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--branco);
    border-radius: .5rem;
}
@media screen and (min-width: 760px){
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
}