

:root {
    --preto: #000;
    --cinza: #262525;
    --azul: #0772b2;
    --verde: #06f363;
    --branco: #ffffff;
}

#inicio{
    width: 100%;
    height: 35rem;
    background-image: url(dell-1o5MZblCP50-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.article-inicio{
    width: 30%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.article-inicio h2{
    color: var(--branco);
    font-size: 2.6rem;
    letter-spacing: 2px;
}
.article-inicio h1{
    color: var(--branco);
    font-size: 2.8rem;
    letter-spacing: 2px;
}
.article-redes{
    width: 30%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.btn-redes{
    width: 65px;
    border: 2px solid transparent;
    
}
.btn-redes:hover{
    border-radius: 10px;
    border: 2px solid #ccc;
}

@media screen and (max-width: 900px) {
    #inicio{
        width: 100%;
        height: 28rem;
        flex-wrap: wrap;
        
    }
    .article-inicio{
        width: 90%;
        height: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .article-redes{
        width: 90%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 15px;
    }
}

/*------------BOX-TEC-----------------*/

.box-tec{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cinza);
    padding: 20px;
    gap: 15px;
}
.tec{
    width: 9rem;
    height: 9rem;
    border: 5px solid var(--azul);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.tec p{
    color: var(--verde);
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline 2px;
}

/*--------------------BOX PROJETOS---------------------*/

.box-projetos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}
.projeto{
    width: 16rem;
    height: 20rem;
    border: 5px solid var(--azul);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 30px var(--azul);
    background-color: var(--cinza);
}
.projeto h3{
    color: var(--branco);
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.projeto p{
    color: var(--branco);
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.projeto a{
    color: var(--branco);
    font-size: 1.4rem;
}
.projeto a:hover{
    color: var(--verde);
}